
.my_trasform(@transform){
-o-transform+_: @transform;
-ms-transform+_:@transform;
 -moz-transform+_: @transform; 
-webkit-transform+_: @transform ;
 transform+_: @transform ;  
}

 .clearfix() {
	&:before ,&:after{
    content: "";
    display: table;
    clear: both;}
}

.box-sizing(@box-model) { 
-o-box-sizing:@box-model;
-webkit-box-sizing: @box-model; // Safari <= 5 
-moz-box-sizing: @box-model; // Firefox <= 19 
box-sizing: @box-model; 
}

.opacity (@alpha) {
    @ms-alpha : @alpha*100;
    -ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity=@ms-alpha);
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=@ms-alpha);
    // TODO: fix me
    //filter:~`"alpha(opacity="+@ms-alpha+")"`;
    -moz-opacity: @alpha;
    -khtml-opacity: @alpha;
    opacity: @alpha;
}


.borderRadius(@radius:5px){
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    -o-border-radius: @radius;
    border-radius: @radius;
}


.transition(@transition:0.3s){
-ms-transition:  @transition;
-webkit-transition:  @transition;
-moz-transition:  @transition;
 transition: @transition;
}

.box-shadow (@string) {
    -webkit-box-shadow: @string;
    -moz-box-shadow:    @string;
    box-shadow:         @string;
}

.golden_section(@n:1){
  width: (100% / 3) * @n;
}

@base_color: #10c9c3;
@accordion_bg_color: #b9beea;
@color_white: #FFF;
@color_black: #000;
@input_bd_color: #888;
@textColor: #191919;
@colorGray:#f6f6f6;
@colorDarkGray: #1d1d1d;


.theme_button(){
    background-color: @theme_color;
    background: url(../image/block_2.png) top left  no-repeat;
    background-size: cover;
    color: @color_white;
    border: none;
    box-shadow: none;
    outline: none;
    .borderRadius(0px);
    .transition();
    padding: 3px 6px 3px 23px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;

    &:hover{
    color: @color_black;  
    background-position-x: -12px;
    background-color: @theme_color;
    }
}




@default_font_fam: Nunito Sans;
@header_font_fam: Montserrat;


.convert_ltrsp_ps_to_css(@psltsp:10,@fontsize:38){
@letter_spacing: (@psltsp * @fontsize) / 1000;
letter-spacing: ~"@{letter_spacing}px" ;
}


.base_effect(){
    position: relative;
    overflow: hidden;
}
