node_modules/
/.idea/.gitignore
/.idea/modules.xml
/.idea/piroll.iml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/dist
/dist/img/about-min.jpg
/dist/img/banner_about-min.jpg
/dist/img/client_1.png
/dist/img/client_2.png
/dist/img/client_3.png
/dist/img/client_4.png
/dist/img/client_5.png
/dist/img/logo.png
/dist/img/map-marker.png
/dist/img/one_page_banner.jpg
/dist/img/one_page_banner-min.jpg
/dist/img/our_work_1-min.jpg
/dist/img/our_work_2-min.jpg
/dist/img/our_work_3-min.jpg
/dist/img/our_work_4-min.jpg
/dist/img/our_work_5-min.jpg
/dist/img/our_work_6-min.jpg
/dist/img/our_work_7-min.jpg
/dist/img/our_work_8-min.jpg
/dist/img/our_work_9-min.jpg
/dist/img/our_work_10-min.jpg
/dist/img/our_work_11-min.jpg
/dist/img/our_work_12-min.jpg
/dist/img/signature.png
/dist/img/signature_about.png
/dist/img/single_product_image-min.jpg
/dist/img/skills_img-min.jpg
/dist/img/video_thumnail.jpg
