.header{
	padding: 38px 0;
}



.main_menu{
	text-align: right;
	margin-right: -1px;
}

.top_text{
	background: @colorGray;
	padding-top: 77px;
	padding-bottom: 92px;

	h1{
		    text-indent: 2px;
	}

	h5{
	width: 46%;
    margin: auto;
    margin-top: 3px;
	}
}


.our_work>.row{
	margin: 0 auto;
	max-width: 1400px;
}


footer{
	background: #141414;
    padding-top: 92px;
    padding-bottom: 95px;

	h5{
		color: @color_white;
	}

	.contact{
    text-align: left;
    padding-left: 46%;
    margin-top: 1.7px;
	}

}




.footer_menu_1,
.footer_menu_2,
.footer_menu_3{
	float: left;
	width: 100% /3;
	margin-top: 1.6px;
}

.footer_menu_2{
	padding-left: 1.6px;
}

.product_container{
	background: #f6f6f6;
	 
	.row{
		margin: 0px;
		overflow: hidden;
	}

	h1{
		text-align: left;
	    text-indent: -3px;
	}

	.product_text_container{


    .half_container;
    	padding-top: 79px;
	    text-align: left;
	}

	.photo{
		padding: 0;
	}

	img{
		width: 100%;
	}

	.description{
		padding-top: 6px;
	    margin-bottom: 47px;
        padding-right: 20%;
	}

	.description,
	ul{
		font-size: 16px;
		line-height: 24px;
		.convert_ltrsp_ps_to_css(16,5);
	}

	p{
		margin-bottom: 24px;
	}

	li{
         margin-bottom: 6px;
	}

	strong{
		    padding-right: 10px;
	}

	.date strong{
		padding-right: 14px;
	}

}

.pagination{
	background-color: @color_white;
	text-transform: uppercase;
	font-size: 12px;
	font-family: @header_font_fam;
	font-weight: 600;
}

.footer_menu_1{
    padding-top: 0px;
    margin-top: 1.6px;
    margin-left: -1px;

}

/*================================
=            ONe Page            =
================================*/

.banner{
	background-image: url(../../images/one_page_banner-min.jpg);
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	.base_effect;
	

	// .container{
	// 	position: absolute;
	// 	left: 0;
	// 	right: 0;
	// 	top: 0;
	// 	bottom: 0;
	// 	margin: auto;
	// }

	.banner_text{
		padding-top: 210px;
		 width: 43.3%;
		margin-left: auto;
		padding-bottom: 148px;
	}

	h1{
		text-align: left;
	    letter-spacing: -0.78px;
	}

	h5{
	    margin-top: 4px;
	    padding-left: 6px;
	    text-align: left;
        padding-right: 4.3%;
        margin-bottom: 35px;
	}

	.button{
		    margin-left: 7px;
	}

	img{
		width: 100%;
	}

}

h2+p{
	color: #787878;
	.convert_ltrsp_ps_to_css(5,16);
	width: 58%;
	margin: 15px auto 33px;
	white-space: pre-line;
}

.about{
	text-align: center;
    padding-top: 82px;
    padding-bottom: 102px;

    h2{
	text-indent: 8px;

    }

    p{
    	
	    padding-left: 5px;
    }

    .signature{
        padding-left: 6px;
    }

}

.skills{

	.row{
		margin: 0;
		overflow: hidden;
	}

	.images{
		padding: 0;
	}

	img{
		width: 100%;
	}

	.content{
		.half_container;
	    padding-top: 144px;
	}
}

.numbers{
	background-color: @base_color;
}

.work_process{
	text-align: center;
	padding-top: 81px;

	h2{
		text-indent: 2px;
	}

	p{
		padding-left: 0;
	}

	.video_here{
		  height: 571px;
		  width: 100%;
		  background-color: #e9e9e9;
	      margin-top: 55px;
          margin-bottom: 98px;
          .base_effect;
	}

	

	div.thumbnail_container
	{
	width: 100%;
	height: 100%;
	background-image: url(../images/video_thumnail.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	}

	iframe{
		width: 100%;
		height: 100%;
	}


}


.services{
	background-color: @colorLightGray;
	padding-top: 70px;
	padding-bottom: 75px;

	.container>.row{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-wrap: wrap;
	}
}


.load_more{
	color: #8e8e8e;
	background: #f5f5f5;
    padding: 35px 0px;
    text-align: center;
    letter-spacing: 0.9px;
    cursor: pointer;
}

.testimonials{
	background-color: @base_color;

	.lSSlideOuter .lSPager.lSpg{
		padding-bottom: 57px;
		margin-top: 11px !important;
	}
}

.clients{

	.row{
		display: flex;
		flex-wrap: wrap;	
	}

}



article.contact{
	background-color: @colorLightGray;
    text-align: center;
    padding-top: 84px;
    padding-bottom: 100px;

    h2{
	    letter-spacing: -0.2px;
    }

    h2+p{
    	    width: 46%;
    }

    input,
    textarea{
    	width: 100%;
    }

    h2~.row{
    	width: 69.8%;
    	margin: auto;
	    padding-top: 1px;
    }

    textarea{
    	height: 170px;
    }

    [type="submit"]{
		padding: 0.5px 5px;
		min-width: 180px;
		text-align: center;
	    letter-spacing: 1.1px;
	    margin: auto;
	    height: 54px;
    }


}

/*=====  End of One Page  ======*/

/*=============================
=            About            =
=============================*/

.header.about_page{
	    padding: 37.5px 0;
}

.banner.about_page{
	z-index: 1;


	&:after{
		content: "";
		.after_bl;
		background: fade(#141414 , 60%) ;
		z-index: 2;
	}

	.text{
		    padding-top: 93px;
		    z-index: 2;
		    position: relative;
		    z-index: 3;
		    padding-bottom: 93px;
	}

	h1{
		letter-spacing: -0.28px;
	}


	h1,
	h5{
		color: @color_white;
		text-align: center;
	}

	h5{
	    width: 46%;
	    margin: auto;
	    padding: 0;
	    margin-top: 1px;
	}

}

.about.about_page{
	padding: 0;
	background-color: @colorLightGray;

	.row{
		margin: 0;
		overflow: hidden;
	}


	.images{
		padding: 0;

		img{
			width: 100%;
		}
	}

	.right_half_container{
		.right_half_container;
		padding-top: 121px;
		padding-left: 63px;
		text-align: left;
	}

	h2{
		text-align: left;
	}

	p{
		width: 100%;
		padding-left: 8px;
		padding-right: 4%;
	}

	h2+p{
		margin-bottom: 25px;
	}

	p+p{
		    letter-spacing: 0.1px;
	}

	p{
		color: #787878;
	}

	.signature{
		    padding-left: 8px;
	        margin-top: 33px;
	}

}


.need_project{
	text-align: center;
	padding-top: 78px;
	padding-bottom: 100px;

    h2{
    	letter-spacing: -0.4px;
    }

    h2+p{
    	    letter-spacing: 0.1px;
    	        width: 47%;
    	            margin-bottom: 35px;
    }

    .button{
		.theme_button;
		letter-spacing: 0.8px;
		margin: auto;
    }


}



/*=====  End of About  ======*/


/*===========================
=            Contact            =
===========================*/

article.contact.contact_with_info{
	padding-top: 85px;
    padding-bottom: 98px;

	h2{
		    margin-left: -1px;
	}

	.contact_text_container{
		text-align: left;
	}

	.description{
		margin-top: 18px;
		letter-spacing: 0.1px;
		padding-right: 19%;
	    margin-bottom: 26px;
        margin-left: -1px;
	}

	.contact_list{
		&:extend( .product_container ul);
	    letter-spacing: 0.28px;
	}

	.form{
		    padding-top: 15px;
		    text-align-last: auto;

		input,
		textarea{
			padding: 12px 20px;
		}

		.button{
    	margin-top: 0;
		}

	}

	.map_container{
			padding-top: 99px;
	}

	.map{
		background-color: #e0e0e0;
		height: 470px;
		width: 100%;
	}
}



/*=====  End of Contact  ======*/




@media (max-width: 1230px) {

	.product_container .product_text_container{
		padding-top: 0px;
	}

	.product_container .description{
		padding-right: 0;
	}

	.banner.about_page h5,
	.need_project h2 + p{
		width: 60%;
	}

	.about.about_page .right_half_container{
		padding-top: 60px;
		padding-left: 0px;
	}

	.banner .banner_text{
		width: 50%;
		padding-top: 160px;
	}
	
}

@media (max-width: 992px) {

	footer h5,
	.copyright_container,
	article.contact.contact_with_info h2,
	.product_container h1{
		text-align: center;
	}

	article.contact.contact_with_info h2{
		margin-left: 0;
	}

	.copyright_container,
	.product_container .product_text_container,
	article.product_container{
		padding-bottom: 25px;
	}

	footer .contact{
		padding-left: 0;
	}

	.product_container img{
	    width: 750px;
	    margin: auto;
	    padding: 0 15px ;
	    display: block;
	}

	.banner.about_page h5,
	.need_project h2 + p,
	.top_text h5,
	article.contact h2 + p
	{
		width: 100%;
	}

	article.contact h2 ~ .row{
		margin-left: -15px;	
		margin-right: -15px;	
		width: auto;	
	}

	.numbers{
		padding-bottom: 15px;
		padding-top: 15px;
	}

	.about.about_page{
		padding-top: 30px;

		.images{
		padding: 0 15px;
		}

		// .right_half_container{
		// width: 100%;
		// padding-right: 0;
		// padding-top: 30px;
		// }

		h2{
		text-align: center;
		}

		p{
			padding-left: 0;
			padding-right: 0;
		}

		.signature{
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 30px;
		padding-left: 0;
		}

	}

	article.contact.contact_with_info .description{
		padding-right: 0;
	}

	.work_process .video_here{
		height: 400px;
	}

	

}

@media (max-width: 768px) {

	footer .contact{
		text-align: center;
		padding-bottom: 20px;
	}

	.header{
		padding: 15px 0;
	}

	

	.product_container img,
	.banner .banner_text{
		width: 100%;
		// padding: 0;
	}

	.banner .banner_text,
	.banner h1,
	.banner h5{
		text-align: center;
	}

	.banner .button{
		margin-left: auto;
		margin-right: auto;
	}

	.work_process .video_here{
		height: 350px;
	}

	.banner h5{
		padding-left: 0;
		padding-right: 0;
	}

	

	// .about.about_page .images{
	// 	padding: 0;
	// }

}

@media (max-width: 767px) {

	.banner .banner_text{
		padding-top: 50px;
		padding-bottom: 50px;
	}
	
}

@media (max-width: 600px) {

	article.contact form .col-xs-6{
		width: 100%;
		float: none;
	}

	.services .col-xs-4{
		width: 50%;
	}
	
}

@media (max-width: 400px) {

	.work_process .video_here{
		height: 250px;
	}
	
}

@media (max-width: 369px) {

	.footer_menu_1, 
	.footer_menu_2, 
	.footer_menu_3
	{
		float: none;
		width: 100%;
	}

	.footer_menu_1,
	.footer_menu_2,
	.footer_menu_3{
		text-align: center;
		padding-bottom: 15px;
	}
	
}